<section id="blog" class="py-5">
    <div class="container">
        <h2 class="text-center m-4">Latest Posts</h2>
        <div class="row g-4">
            <!-- Blog Post 1 -->
            <div class="col-md-6 col-lg-4">
                <div class="card blog-post">
                    <img src="/images/coming-soon.png" class="card-img-top" alt="Web Development Tips">
                    <div class="card-body">
                        <small class="text-muted">May 15, 2023</small>
                        <h5 class="card-title mt-2">10 Essential Web Development Tools</h5>
                        <p class="card-text">Discover must-have tools for modern web developers...</p>
                        <a href="#" class="btn btn-outline-primary">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Blog Post 2 -->
            <div class="col-md-6 col-lg-4">
                <div class="card blog-post">
                    <img src="/images/coming-soon.png" class="card-img-top" alt="Portfolio Tips">
                    <div class="card-body">
                        <small class="text-muted">April 28, 2023</small>
                        <h5 class="card-title mt-2">Creating an Effective Portfolio</h5>
                        <p class="card-text">Learn how to showcase your work effectively...</p>
                        <a href="#" class="btn btn-outline-primary">Read More</a>
                    </div>
                </div>
            </div>

            <!-- Blog Post 3 -->
            <div class="col-md-6 col-lg-4">
                <div class="card blog-post">
                    <img src="/images/coming-soon.png" class="card-img-top" alt="Resume Writing">
                    <div class="card-body">
                        <small class="text-muted">April 10, 2023</small>
                        <h5 class="card-title mt-2">Resume Writing for Tech Jobs</h5>
                        <p class="card-text">Optimize your resume for technical roles...</p>
                        <a href="#" class="btn btn-outline-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>