<footer class="bg-dark text-white py-4">
    <div class="container text-center">
        <div class="social-links mb-3">
            <a href="https://github.com/siddrashx102/" class="text-white me-3"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/mohdrashidsiddiqui/" class="text-white me-3"><i class="fab fa-linkedin fa-2x"></i></a>
        </div>
        <p class="mb-0">&copy; 2025 Mohd Rashid. All rights reserved.</p>
    </div>
</footer>